---
import { getEntryBySlug } from 'astro:content'
import { Props as BaseHeadProps } from 'src/components/BaseHead.astro'
import PageLayout from 'src/layouts/PageLayout.astro'
import { BLOG } from 'src/config'

const { slug } = Astro.params

if (!slug) return new Response(undefined, { status: 404 })

const entry = await getEntryBySlug('blog', slug)

if (!entry) return new Response(undefined, { status: 404 })

const { title, description, pubDate, updatedDate, heroImage } = entry.data

const { Content } = await entry.render()

const pagePath = `/blog/${slug}`
const pageLink = new URL(pagePath, import.meta.env.SITE)

const head = {
  title: `${title} - Geek's blog`,
  ogTitle: title,
  description,
  image: { src: `${pagePath}.png`, size: 'large', width: 1200, height: 630 },
  canonical: pagePath
} satisfies BaseHeadProps
---

<PageLayout head={head} class="max-w-full p-0" showFooter={true}>
  <Fragment slot="head">
    <meta name="giscus:backlink" content={pageLink} />
  </Fragment>

  <article
    class="mx-auto w-full max-w-3xl space-y-3"
    itemscope
    itemtype="https://schema.org/BlogPosting"
  >
    <div class="space-y-1 pl-10 pr-4">
      <h1 itemprop="headline">{title}</h1>

      <div class="text-sm">
        <time itemprop="datePublished" datetime={pubDate.toISOString()}>
          {pubDate.toDateString()}
        </time>
      </div>
      {
        updatedDate && (
          <div class="text-sm">
            Updated on{' '}
            <time itemprop="dateModified" datetime={updatedDate.toISOString()}>
              {updatedDate.toDateString()}
            </time>
          </div>
        )
      }
      {description && <p itemprop="description">{description}</p>}
    </div>

    <meta
      itemprop="image"
      content={new URL(head.image.src, import.meta.env.SITE)}
    />

    <div class="py-5">
      {
        heroImage ? (
          <img
            src={heroImage}
            alt={title}
            class="aspect-video w-full object-contain object-center"
          />
        ) : (
          <hr />
        )
      }
    </div>

    <div class="pl-10 pr-4" itemprop="articleBody">
      <Content />
    </div>

    <script
      src="https://giscus.app/client.js"
      data-repo="patheticGeek/blog"
      data-repo-id="R_kgDOLEsztQ"
      data-category="Blogs"
      data-category-id="DIC_kwDOLEsztc4Ccac3"
      data-mapping="specific"
      data-term={slug}
      data-strict="1"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="transparent_dark"
      data-lang="en"
      crossorigin="anonymous"
      async></script>

    <div class="hidden">
      <span itemprop="author" itemscope itemtype="https://schema.org/Person">
        <a itemprop="url" href={BLOG.author.url}>
          <span itemprop="name">{BLOG.author.name}</span>
        </a>
      </span>
    </div>
  </article>
</PageLayout>
