---
import { getEntryBySlug } from 'astro:content'
import { Props as BaseHeadProps } from 'src/components/BaseHead.astro'
import PageLayout from 'src/layouts/PageLayout.astro'

const { slug } = Astro.params

if (!slug) return new Response(undefined, { status: 404 })

const entry = await getEntryBySlug('blog', slug)

if (!entry) return new Response(undefined, { status: 404 })

const { title, description, pubDate, updatedDate, heroImage } = entry.data
const imgUrl = heroImage ? new URL(heroImage, Astro.url).toString() : undefined

const { Content } = await entry.render()

const head = {
  title: `${title} - Geek's blog`,
  ogTitle: title,
  description,
  banner: imgUrl,
  canonical: `/blog/${slug}`
} satisfies BaseHeadProps

const pageLink = new URL(head.canonical, import.meta.env.SITE)
---

<PageLayout head={head} class="max-w-full p-0" showFooter={true}>
  <Fragment slot="head">
    <meta name="giscus:backlink" content={pageLink} />
  </Fragment>

  <article class="mx-auto w-full max-w-3xl space-y-3">
      <div class="space-y-1 pl-10 pr-4">
        <h1>{title}</h1>

        <div class="text-sm">
          <time datetime={pubDate.toISOString().split(('T'))[0]}>{pubDate.toDateString()}</time>
        </div>
        {
          updatedDate && (
            <div class="text-sm">
              Updated on <time datetime={updatedDate.toISOString().split(('T'))[0]}>{updatedDate.toDateString()}</time>
            </div>
          )
        }
        <p>{description}</p>
      </div>

      <div class="py-5">
        {
          heroImage ? (
            <img
              src={heroImage}
              alt={title}
              class="aspect-video w-full object-contain object-center"
            />
          ) : (
            <hr />
          )
        }
      </div>

      <div class="pl-10 pr-4">
        <Content />
      </div>

      <script 
        src="https://giscus.app/client.js"
        data-repo="patheticGeek/blog"
        data-repo-id="R_kgDOLEsztQ"
        data-category="Blog"
        data-category-id="DIC_kwDOLEsztc4Ccac3"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
      </script>
  </article>
</PageLayout>
