---
import { getCollection } from 'astro:content'
import PageLayout from 'src/layouts/PageLayout.astro'

const title = "Geek's Blogs"
const desc =
  'Every sentence is just a remix of the dictionary, and here are my remixes.'

const posts = (await getCollection('blog', (entry) => !entry.data.draft)).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<PageLayout head={{title, description: desc}} showFooter={true}>
  <h1>{title}</h1>

  <p>{desc}</p>

  <ul class="my-4 space-y-4">
    {
      posts.map((post) => {
        const words = post.data.description.split(' ')
        const ellipsis = words.length > 16 ? '...' : ''
        const desc = words.slice(0, 16).join(' ') + ellipsis

        return (
          <li>
            <a class="block w-full" href={`/blog/${post.slug}`}>
              {post.data.title}
            </a>
            <time class="text-xs" datetime={post.data.pubDate.toDateString()}>
              {new Date(post.data.pubDate).toLocaleDateString('en-us', {
                year: 'numeric',
                month: 'short',
                day: 'numeric'
              })}
            </time>
            <p class="my-0 text-sm">{desc}</p>
          </li>
        )
      })
    }
  </ul>
</PageLayout>
