---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

const title = "Geek's Blogs";
const desc =
  "Every sentence is just a remix of the dictionary, and here are my remixes.";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseHead title={title} description={desc} />
  </head>
  <body>
    <Header />
    <main>
      <h1>{title}</h1>

      <p>{desc}</p>

      <content>
        <ul class="my-4 space-y-4">
          {
            posts.map((post) => {
              const words = post.frontmatter.description.split(' ')
              const ellipsis = words.length > 16 ? '...' : ''
              const desc = words.slice(0, 16).join(' ') + ellipsis
              return (
                <li>
                  <a class="block w-full" href={post.url}>
                    {post.frontmatter.title}
                  </a>
                  <time class="text-xs" datetime={post.frontmatter.pubDate}>
                    {new Date(post.frontmatter.pubDate).toLocaleDateString(
                      "en-us",
                      {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      }
                    )}
                  </time>
                  <p class="my-0">{desc}</p>
                </li>
              )
            })
          }
        </ul>
      </content>
    </main>
  </body>
</html>
