---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, HOME_LINKS } from "../config";
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hey there 👋</h1>
      <p>
        People usually call me Geek, and I'm currently breaking things at <a href="https://modfy.video/">Modfy</a>.
      </p>

      <p>
        Checkout some of <a href="/projects">my projects</a> or <a href="/blog">blogs</a>.
      </p>

      <h3>Find me at:</h3>
      <ul>
        {HOME_LINKS.map((link) => <li><a href={link.href}>{link.label}</a></li>)}
      </ul>
    </main>
  </body>
</html>
