---
import { HOME_LINKS, SITE_DESCRIPTION, SITE_TITLE } from 'src/config'
import PageLayout from 'src/layouts/PageLayout.astro'
import { setCache } from 'src/lib/cache'
import { getPinnedProjects } from 'src/lib/github'

const pinnedProjects = await getPinnedProjects(5)

setCache(Astro.response, 1 * 60 * 60)
---

<PageLayout
  head={{ title: SITE_TITLE, description: SITE_DESCRIPTION }}
  class="space-y-5"
>
  <section>
    <h1>Hey there, I'm <span class="text-amber-200">Geek</span> 👋</h1>

    <p>
      A full-stack developer with experience building web-based video editor,
      ed-tech platforms, and more from scratch. I do everything from website to
      mobile. When I'm not coding I am jamming to some techno.
    </p>

    <p>
      Currently working as a Senior Software Engineer at{' '}
      <a href="https://tracxn.com/">Tracxn</a>, if you wanna know more checkout{
        ' '
      }
      <a href="/resume">my resume</a>.
    </p>

    <p>
      Also, I'm a DJ on the side, diving into some new/experimental genres that
      I love. If you wanna hear my sets or know more checkout <a href="/music"
        >the music page</a
      >.
    </p>
  </section>

  {
    pinnedProjects && (
      <section>
        <h2>Pinned Projects</h2>

        <ul class="space-y-4">
          {pinnedProjects.map((project) => (
            <li class="space-y-1">
              <div class="flex flex-col space-x-2 md:flex-row">
                <a
                  class="block font-medium text-white"
                  href={project.website || project.github_url}
                  target="_blank"
                >
                  {project.name}
                </a>

                <div class="no-scrollbar flex items-center space-x-2 overflow-scroll whitespace-nowrap">
                  {project.topics.map((topic) => (
                    <div class="my-1 rounded-full bg-zinc-800 px-2 py-[1px] text-xs text-zinc-300">
                      {topic}
                    </div>
                  ))}
                </div>
              </div>
              <p class="mx-0.5 text-sm text-zinc-200">{project.description}</p>
            </li>
          ))}
        </ul>

        <p>
          Checkout more <a href="/projects">projects</a>,
          <a href="/blog">blogs</a>
          or find some new <a href="/resources">resources</a>. Or if you're
          lazy, <a href="/resources/query">try AI search in my resources</a>!
        </p>
      </section>
    )
  }

  <section>
    <h2>Find me at:</h2>

    <ul>
      {
        HOME_LINKS.map((link) => (
          <li>
            <a href={link.href}>{link.label}</a>
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
