---
import { getProjects } from 'src/lib/github'
import { GITHUB_USERNAME } from 'src/config'
import { setCache } from 'src/lib/cache'
import PageLayout from 'src/layouts/PageLayout.astro'

const title = "Geek's Projects"
const desc = "Here are some of the things I've somehow made work."

const projects = await getProjects()
---

<PageLayout title={title} description={desc}>
  <h1>Projects</h1>

  <p>
    {desc}
    <br />
    You can also find some smaller experiments on my
    <a href="https://codesandbox.io/u/patheticGeek">CodeSandbox</a>
    {' and '}
    <a href="https://codepen.io/patheticgeek">CodePen</a>.
  </p>

  <ul class="my-4 space-y-4">
    {
      projects.map((project) => (
        <li class="space-y-1">
          <div class="flex items-end justify-between">
            <a
              class="block w-full font-medium text-white"
              href={project.website || project.github_url}
              target="_blank">
              {project.name}
            </a>
          </div>
          <div class="no-scrollbar flex items-center space-x-2 overflow-scroll whitespace-nowrap">
            {project.topics.map((topic) => (
              <div class="my-1 rounded-full bg-zinc-800 px-2 py-[1px] text-xs text-zinc-300">
                {topic}
              </div>
            ))}
          </div>
          <p class="mx-0.5 text-sm text-zinc-200">{project.description}</p>
        </li>
      ))
    }
  </ul>

  <a href={`https://github.com/${GITHUB_USERNAME}`}>
    More on github {'->'}
  </a>
</PageLayout>
