---
import SpeedInsights from '@vercel/speed-insights/astro'
import 'src/styles/global.css'
import LoadInlineFonts from './LoadInlineFonts.astro'

export interface Props {
  title: string
  ogTitle?: string
  description: string
  image?: {
    src: string
    width: number
    height: number
    size?: 'small' | 'large'
  }
  canonical?: string
}

const {
  title,
  ogTitle = title,
  description,
  image = { src: '/favicon.png', width: 512, height: 512 },
  canonical: canonicalPath = Astro.url.pathname
} = Astro.props
const canonical = new URL(canonicalPath, Astro.url.origin)
---

<slot name="pre-head" />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/ico" href="/favicon.ico" />

<title>{title}</title>
<meta name="title" content={ogTitle} />
<meta name="description" content={description} />
{canonical && <meta name="canonical" content={canonical} />}

<meta property="og:type" content="website" />
<meta property="og:url" content={canonical} />
<meta property="og:title" content={ogTitle} />
<meta property="og:description" content={description} />
{
  image && (
    <Fragment>
      <meta
        property="og:image"
        content={new URL(image.src, Astro.url.origin)}
      />
      <meta property="og:image:width" content={image.width.toString()} />
      <meta property="og:image:height" content={image.height.toString()} />
    </Fragment>
  )
}

<meta
  property="twitter:card"
  content={image?.size === 'large' ? 'summary_large_image' : 'summary'}
/>
<meta property="twitter:url" content={canonical} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
{
  image && (
    <meta
      property="twitter:image"
      content={new URL(image.src, Astro.url.origin)}
    />
  )
}

<!-- @ts-ignore -->
{import.meta.env.PROD && <SpeedInsights />}

<LoadInlineFonts />

<slot />
