---
import 'src/styles/global.css'

export interface Props {
  title: string
  ogTitle?: string
  description: string
  image?: string
  banner?: string
  canonical?: string
}

const { title, ogTitle = title, description, image, banner, canonical: canonicalPath = Astro.url.pathname } = Astro.props
const canonical = new URL(canonicalPath, Astro.url.origin)
---

<slot name="pre-head" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
<link
  href={'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;600;700&display=swap'}
  rel="stylesheet"
/>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" href="/favicon.png" />

<title>{title}</title>
<meta name="title" content={ogTitle} />
<meta name="description" content={description} />
{canonical && <meta name="canonical" content={canonical} />}

<meta property="og:type" content="website" />
<meta property="og:url" content={canonical} />
<meta property="og:title" content={ogTitle} />
<meta property="og:description" content={description} />
{image && <meta property="og:image" content={banner || new URL(image, Astro.url.origin)} />}

<meta property="twitter:card" content={banner ? "summary_large_image" : "summary"} />
<meta property="twitter:url" content={canonical} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
{image && <meta property="twitter:image" content={banner || new URL(image, Astro.url.origin)} />}

{import.meta.env.PROD && <script defer src="/_vercel/insights/script.js" />}

<script>
  import { webVitals } from 'src/lib/vitals'

  const analyticsId = import.meta.env.PUBLIC_VERCEL_ANALYTICS_ID

  if (analyticsId) {
    webVitals({
      path: window.location.pathname,
      analyticsId,
      debug: import.meta.env.DEV,
      params: {}
    })
  }
</script>

<slot />
