---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from "@astrojs/image/components";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props as Props;

// Match the `heroImage` frontmatter string to its correct
// Astro.glob() import of the file in the src/ directory.
const assets = await Astro.glob("../assets/**/*");
const heroImageAsset = assets.find((asset) => {
  if (!heroImage) {
    return false;
  }
  if (!asset.default?.src) {
    return false;
  }
  const index = asset.default.src.indexOf("/assets/");
  return asset.default.src.slice(index) === heroImage;
});

console.log({assets,heroImageAsset})
---

<html>
  <head>
    <BaseHead title={`${title} - Geek's blog`} description={description} banner={heroImageAsset?.default || undefined} />
  </head>

  <body>
    <Header />
    <main class="max-w-full p-0">
      <article>
        <div class="w-full max-w-3xl mx-auto space-y-3">
          <div class="space-y-1 pl-10 pr-4">
            <h1 class="text-2xl mb-3">{title}</h1>
            <div class="text-sm">
              <time>{pubDate}</time>
            </div>
            {
              updatedDate && (
                <div>
                  Last updated on <time>{updatedDate}</time>
                </div>
              )
            }
            <p>{description}</p>
          </div>
          <div class="py-5">
            {
              heroImageAsset ? (
                <Image
                  height={360}
                  src={heroImageAsset.default}
                  alt={title}
                  class="object-contain object-center w-full max-h-[60vh]"
                />
              ) : (
                <hr class="border-zinc-700" />
              )
            }
          </div>
          <div class="pl-10 pr-4">
            <slot />
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
