---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

export interface Props {
  content: {
    title: string
    description: string
    pubDate?: string
    updatedDate?: string
    heroImage?: string
  }
}

const {
  content: { title, description, pubDate, updatedDate, heroImage }
} = Astro.props as Props

const imgUrl = heroImage ? new URL(heroImage, Astro.url).toString() : undefined
---

<html>
  <head>
    <BaseHead
      title={`${title} - Geek's blog`}
      description={description}
      banner={imgUrl || undefined}
    />
  </head>

  <body>
    <Header />
    <main class="max-w-full p-0">
      <article>
        <div class="mx-auto w-full max-w-3xl space-y-3">
          <div class="space-y-1 pl-10 pr-4">
            <h1 class="mb-3 text-2xl">{title}</h1>
            <div class="text-sm">
              <time>{pubDate}</time>
            </div>
            {
              updatedDate && (
                <div>
                  Last updated on <time>{updatedDate}</time>
                </div>
              )
            }
            <p>{description}</p>
          </div>
          <div class="py-5">
            {
              heroImage ? (
                <img
                  height={360}
                  src={heroImage}
                  alt={title}
                  class="max-h-[60vh] w-full object-contain object-center"
                />
              ) : (
                <hr class="border-zinc-700" />
              )
            }
          </div>
          <div class="pl-10 pr-4">
            <slot />
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
